<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css"> 
  <title>My Playlists</title>
</head>
<body>
  <%- include('../partials/_navbar', { user: user, playlists: playlists }) %>

  <div class="container">
    <h1>Your Playlists</h1>
    <ul>
      <% playlists.forEach(playlist => { %>
        <li>
          <a href="/playlists/<%= playlist._id %>" class="playlist-link">
            <span class="playlist-name"><%= playlist.name %></span>
            <% if (playlist.description) { %>
              <span class="playlist-description"><%= playlist.description %></span>
            <% } %>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>

  <%- include('../partials/_footer') %>
</body>
</html>